-r dev-requirements.txt

mypy==1.14.1
mypy-extensions==1.0.0
types-chardet
types-click
types-croniter
types-Flask
types-Jinja2
types-MarkupSafe
types-python-dateutil
types-pytz
types-PyYAML
types-redis
types-requests<2.32.0.20241017  # https://github.com/python/typeshed/issues/10825
types-tzlocal
types-Werkzeug
types-jwt
typing-extensions==4.12.2
boto3-stubs[s3,sqs]
